1.  We need to verify your business to get your account set up for Fast. Once you have the information displayed, click “Verify.”

![Business verification](/reusables/for-developers/images/bcwc-verifybusiness.png)

2. Once you have entered the information displayed, click “Continue.”

   ![Business EIN details](/reusables/for-developers/images/bcwc05.png)

3. Wait several seconds for the business verification to complete. If this verification is unsuccessful, contact customer success at [seller-support@fast.co](mailto:seller-support@fast.co). Otherwise, move on to the next step.

   ![Business verification](/reusables/for-developers/images/bcwc06.png)

:::attention Additional Step if Using DBA
If you operate under a DBA, you will need to click the pencil icon to enter the legal name that correlates with your tax ID.
:::

4. Click “continue”
   ![Fast partners with Stripe notification](/reusables/for-developers/images/bcwc07.png)
